<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Lachestry_AdultProduct" setup_version="1.0.0">
        <sequence>
            <module name="Lachestry_Base"/>
            <module name="Lachestry_AgeVerification"/>
        </sequence>
    </module>
</config>
