<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Lachestry Team
 * @copyright Copyright (c) 2019 Lachestry (https://lachestry.com)
 * @package Lachestry_Base
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lachestry"
             translate="label"
             sortOrder="999"
             class="lachestry-logo green">
            <label>Lachestry</label>
        </tab>
    </system>
</config>
